# Python e Django
*.pyc
*.pyo
*.pyd
__pycache__/
*.log

# Ambiente Virtual
venv/
.venv/

# Arquivos de Cache e Temporários
*.cache
*.tmp
*.bak


# Arquivos de Configuração Sensíveis
.env

# IDEs e Editores
.vscode/
.idea/
*.swp

# Sistema Operacional
.DS_Store
Thumbs.db

# Outros
*.egg-info/
dist/
build/
*.egg